@media (max-width: 1199px){
    .container{
        max-width: 850px;
    }
    .promo{
        &__header{
            font-size: 40px;
        }
        &__subheader{
            font-size: 22px;
        }
    }
    .catalog{
        &__contant{
            justify-content: space-around;
        }
    }
    .catalog-item{
        margin-right: 0;
    }
}
@media (max-width: 991px){
    .container{
        max-width: 700px;
    }
    .header{
        justify-content: space-around;
        &__official{
            display: none;
        }
    }
    .promo{
        padding: 21px 0 65px 0;
        &__wrapper{
            align-items: center;
        }
    }
    .advantages{
        padding: 50px 0;
    }
    .consultation{
        padding: 50px 0;
        min-height: 650px;
        .title{
            text-align: center;
            br{
                display: none;
            }
        }
        &__descr{
            text-align: center;
        }
        .feed-form{
            margin: 36px auto 0 auto;
        }
    }
    .carousel{
        &__inner{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .slick-slide{
            width: 700px;
        }
        .slick-dots{
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
            margin-top: 10px;
            text-align: center;
            width: 100%;
            transition: 0.5s all;
            li{
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0 5px;
                padding: 0;
                cursor: pointer;
                button{
                    padding: 0;
                    display: block;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    color: transparent;
                    border: 0;
                    outline: none;
                    background: transparent;
                    &:before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        background-color: black;
                        opacity: .25;
                        border-radius: 100%;
                    }
                }
            }
            .slick-active{
                button{
                    &:before{
                        opacity: .75;
                    }
                }
            }
        }
    }
    .catalog{
        padding-bottom: 50px;
        &__tabs{
            margin-top: 50px;
        }
        &__tab{
            &:hover{
                box-shadow: none;
                border: solid 2px #d0d0d0;
            }
            &_active{
                &:hover{
                    border: none;
                }
            }
        }
    }
    .footer{
        height: 550px;
        iframe{
            height: 100%;
        }
        &__info{
            width: 400px;
            height: 220px;
            padding: 30px 40px;
        }
        &__addr{
            font-size: 18px;
            line-height: 17px;
        }
        &__phone{
            font-size: 18px;
            line-height: 15px;
        }
        &__social{
            width: 200px;
        }
        .social-item{
            width: 40px;
            height: 40px;
            span{
                font-size: 20px;
            }
        }
    }
}
@media (max-width: 767px){
    .pageup{
        display: none;
    }
    .container{
        max-width: 500px;
    }
    .promo{
        min-height: 600px;
        padding:21px 0 50px 0;
        &__wrapper{
            margin-top: 65px;
        }
        &__header{
            font-size: 35px;
            line-height: 35px;
        }
        &__subheader{
            font-size: 18px;
            line-height: 18px;
        }
        &__icons{
            margin-top: 55px;
        }
    }
    .button{
        &_main{
            margin-top: 55px;
        }
    }
    .advantages{
        padding: 40px 0;
        &__wrapper{
            margin-top: 0;
            flex-direction: column;
            align-items: center;
        }
        &__block{
            margin-top: 30px;
        }
    }
    .title{
        font-size: 30px;
        line-height: 36px;
    }
    .consultation{
        min-height: 620px;
        &__descr{
            margin-top: 55px;
        }
    }
    .carousel{
        .slick-slide{
            width: 500px;
        }
    }
    .catalog{
        &__tab{
            width: 150px;
            height: 40px;
            font-size: 14px;
            line-height: 38px;
        }
    }
    .reviews{
        padding-bottom: 50px;
        &__item{
            flex-direction: column;
            margin-top: 50px;
            &:nth-child(1){
                margin-top: 50px;
            }
        } 
        &__text{
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }
        &__img{
            display: block;
            margin: 0 auto;
        }
    }
}
@media (max-width: 575px){
    .container{
        max-width: 280px;
    }
    .header{
        &__logo{
            display: block;
            width: 45px;
            height: 45px;
            background: url('../icons/logo_mobile.png') center (center/cover) no-repeat;
            img{
                display: none;
            }
        }
        &__phone{
            font-size: 16px;
        }
    }
    .promo{
        min-height: 400px;
        padding: 10px 0 15px 0;
        &__wrapper{
            margin: 25px 0;
        }
        &__header{
            text-align: center;
            font-size: 22px;
        }
        &__subheader{
            text-align: center;
            font-size: 12px;
            margin-top: 0;
            line-height: 12px;
        }
        &__icons{
            width: 260px;
            margin-top: 25px;
        }
        &__icon{
            width: 33%;
            font-size: 10px;
            img{
                margin-bottom: 10px;
            }
        }
        &__link{
            font-size: 12px;
            margin-top: 10px;
        }
    }
    .button{
        &_main{
            width: 260px;
            height: 45px;
            font-size: 14px;
            margin-top: 30px;
        }
    }
    .title{
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 0;
    }
    .advantages{
        padding: 35px 0;
        &__block{
            margin-top: 20px;
        }
        span.block__header{
            margin: 20px 0;
        }
    }
    .consultation{
        min-height: 440px;
        padding: 35px 0;
        .title{
            font-size: 18px;
            line-height: 24px;
        }
        &__descr{
            font-size: 14px;
            line-height: 16px;
            margin-top: 30px;
        }
        .feed-form{
            width: 280px;
            margin-top: 25px;
            input{
                height: 45px;
            }
        }
        .button_submit{
            height: 45px;
            font-size: 14px;
        }
    }
    .carousel{
        padding: 50px 0;
        .slick-slide{
            width: 280px;
        }
    }
    .catalog{
        padding-bottom: 35px;
        &__tabs{
            margin-top: 35px;
        }
        &__contant{
            margin-top: 35px;
        }
        &__tab{
            width: 33%;
            font-size: 9px;
            height: 30px;
            line-height: 28px;
            margin: 0 2px;
        }
    }
    .catalog-item{
        width: 280px;
    }
    .reviews{
        padding-bottom: 35px;
        &__item{
            margin-top: 40px;
            &:nth-child(1){
                margin-top: 40px;
            }
        }
        &__comment{
            font-size: 14px;
            line-height: 16px;
            margin-top: 14px;
        }
    }
    .footer{
        height: 450px;
        &__info{
            width: 240px;
            height: 130px;
            padding: 10px;
        }
        &__addr{
            font-size: 13px;
            line-height: 13px;
            margin-bottom: 20px;
        }
        &__phone{
            font-size: 14px;
            line-height: 12px;
        }
        &__social{
            width: 160px;
            margin-top: 24px;
        }
        .social-item{
            width: 30px;
            height: 30px;
            span{
                font-size: 16px;
            }
        }
    }
    .modal{
        width: 280px;
        min-height: 290px;
        padding: 20px;
        &__subtitle{
            font-size: 14px;
            line-height: 14px;
        }
        &__descr{
            margin-top: 6px;
            font-size: 11px;
            line-height: 11px;
        }
        .feed-form{
            width: 240px;
            &_mt25{
                margin-top: 15px;
            }
            input{
                height: 40px;
            }
            .button_submit{
                height: 45px;
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 400px){
    .modal{
        &__close{
            top: 5px;
            right: 4px;
        }
    }
}