.advantages{
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__block{
        width: 247px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        line-height: 14px;
        font-weight: 300;
        color: #0d0d0d;
        text-align: center;
        span.block__header{
            margin: 38px 0 25px 0;
            font-size: 18px;
            font-weight: 700;
            color: #0d0d0d;
        }
        .block_red{
            color: $main-color;
            text-decoration: underline;
        }
        img{
            width: 70px;
        }
    }
}